@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply bg-blue-700 py-1 px-3 rounded-md text-white disabled:bg-blue-600 disabled:opacity-80 disabled:hover:cursor-not-allowed;
}

table tr td {
  padding: 8px;
}

.todo-list__info {
  @apply text-ellipsis overflow-hidden whitespace-nowrap max-w-[400px];
}

.todo-list__item-header {
  @apply w-2/5 text-left;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
